/* === Variables === */
:root {
    --debug-outline: none;
}

/* === Reset === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: var(--debug-outline)
}

html, body {
  width: 100%;
  height: 100%;
}

/* === Layout === */

body {
    display: flex;
}

.iframe-wrapper {
    display: flex;
    width: 100%;
    flex: 1;
    height: 100%;
    padding: 0 75px;
    align-items: center;
    overflow: hidden;
}

iframe {
    width: 100%;
}

/* === Settings === */

.settings {
    width: 50%;
    padding: 5px;
    outline: 1px solid lightgray;
}

form {
    display: flex;
    flex-direction: column;
}

.big-setting {
    display: flex;
    flex-direction: column;
}
.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

.secondary-setting {
    display: none;
}

.secondary-setting.displayed {
    display: flex;
}

input[type=color] {
    width: 20px;
    height: 20px;
    border-radius: 15%;
}

button:active {
    background-color: grey;
}

select, select::picker(select) {
    appearance: base-select;
    padding: 2px 5px;
    border: 1px solid lightgrey;
}

input[type=color] {
    appearance: none;
    border: 1px solid lightgray;
    background: transparent;
    height: 25px;
    width: 25px;
}
input[type=color]::-webkit-color-swatch-wrapper, input[type=color]::-webkit-color-swatch {
    border-radius: 15%;
    padding: 0;
    border: none;

}

/* === TOGGLE SWITCH === */

input[type=text] {
    outline: 1px solid lightgrey
}

/*text + slider*/
.switch {
    display: inline-flex;
    width: 100%;
}

/*text*/
.switch-label {
    user-select: none;
}

/*whole toggle-switch container*/
.slider-wrapper {
    position: relative;
    margin-left: auto; /*to the right*/
}

/*hide checkbox (keeps width for accessability)*/
.slider-wrapper input {
    opacity: 0;
    width: 34px;
    height: 0;
}

/*slider (white circle)*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 34px;
  height: 18px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  outline: 1px solid lightgrey;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  background-color: rgb(238, 238, 238);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

/*toggle switch background*/
.slider-wrapper input:checked + .slider {
  background-color: #2196F3;
}

/*animation when toggle on*/
.slider-wrapper input:checked + .slider:before {
  transform: translateX(16px);
}
