/* === Variables === */
:root {
  --bg-colour: none;
  --cal-colour: #ffffff;
  --accent: #dbdbdb;
  --border-rad: 10px;
  --debug-outline: none;
  --text: #000000;
  --greyed-out: #9d9d9d;
}

/* === Reset === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  width: 100%;
}

/* === Base === */
body {
  background-color: var(--bg-colour);
  font-family: papernotes;
  color: var(--text);
  user-select: none;
}

/* === Fonts === */
@font-face {
  font-family: romantic;
  src: url("fonts/ROMANTIC.TTF");
}

@font-face {
  font-family: papernotes;
  src: url("fonts/Papernotes.ttf");
}

@font-face {
  font-family: tangerine;
  src: url("fonts/tangerine.ttf");
}

/* === Icons === */
.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  cursor: pointer;
}

/* === Calendar === */
.calendar-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cal-colour);
  max-width: 100%;
  height: 100%;
  border-radius: var(--border-rad);
  border: 1px solid var(--greyed-out);
  padding: 10px;
}

.calendar-wrapper {
  flex: 1;
  width: 100%;
}

/* Header */
.calendar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  outline: var(--debug-outline);
  width: 100%;
  height: auto;
  padding: 5px 0 5px 0;
}

#year { font-size: clamp(0.9rem, 5vw, 2rem);}

.controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(1.2rem, 10vw, 3rem);
  outline: var(--debug-outline);
}

.controls > span { 
  display: flex;
  width: 10%;
  outline: var(--debug-outline);
  color: var(--greyed-out);
  font-size: clamp(1.1rem, 9vw, 2.7rem);
  justify-content: center;
  align-items: center;
}
.controls > span:hover { color: var(--text)}

#prev-month {
  padding-left: 15px;
}

.controls > p { outline: var(--debug-outline)}

/* Body */
.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 6fr;
  grid-template-areas: 
    "weekday weekday weekday weekday weekday weekday weekday"
    "day     day     day     day     day     day     day";
  outline: var(--debug-outline);
  text-align: center;
  flex: 1;
  width: 100%;
  font-size: clamp(0.9rem, 7vw, 2rem);;
}


/* Weekdays */
#weekdays {
  grid-area: weekday;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#weekdays > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekday {
  outline: var(--debug-outline);
}

/* Days */
#days {
  grid-area: day;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day,
.blank {
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* height = width -> square */
  outline: var(--debug-outline);
  border-radius: var(--border-rad);
  background-color: transparent;
  color: var(--text);
  box-sizing: border-box;
}

.day > span,
.blank > span {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.blank { color: var(--greyed-out);}

.current-date {
  background-color: var(--accent);
  border-radius: var(--border-rad);
}
